#### Author: Abhishek Sharma

#### Program: Visualization on Climate Change Data (Earth Surface Tempreature) by Berkeley Earth

#### Last Modified: 3 November 2017

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

#### Data: Global Land Tempreature By Major City.

Analysis on how tempreature was changing in each season.

In [5]:
city_temp = pd.read_csv('data/GlobalLandTemperaturesByMajorCity.csv')
city_temp.head(5)

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1849-01-01,26.704,1.435,Abidjan,Côte D'Ivoire,5.63N,3.23W
1,1849-02-01,27.434,1.362,Abidjan,Côte D'Ivoire,5.63N,3.23W
2,1849-03-01,28.101,1.612,Abidjan,Côte D'Ivoire,5.63N,3.23W
3,1849-04-01,26.140,1.387,Abidjan,Côte D'Ivoire,5.63N,3.23W
4,1849-05-01,25.427,1.200,Abidjan,Côte D'Ivoire,5.63N,3.23W